textarea {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  max-width: 366px;
  height: 150px;
}

h2 {
  font-size: 40px;
  line-height: 60px;
}

h3 {
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
  margin: 16px 0 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

textarea[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #10a37f;
}

textarea::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
button {
  font-size: 16px;
  line-height: 24px;
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

button:disabled {
  opacity: 0.5;
}

button > div {
  justify-content: center;
}

button:active {
  box-shadow: inset 0 1px 19px -20px #000;
}

.action_button {
  width: 40px;
  padding: 7px 0 1px;
  margin-right: 5px;
}

.result {
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}

.result > div {
  justify-content: center;
  margin: 0;
}

.code_block {
  max-width: 100%;
  max-height: 400px;
  padding: 10px 10px;
  overflow: auto;
  font-size: 12px;
  border: 1px solid #ccc;
}

.code_block_actions {
  margin-bottom: 10px;
}
